/*media*/
#footer .media {
  background-color: var(--col_main3);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 83px;
  padding-bottom: 83px;
  row-gap: 64px;
  column-gap: 183px;
}
#footer .media h1 {
  color: var(--col_txt2);
}
#footer .media ul {
  display: flex;
  gap: calc((73 / var(--base-width)) * 100vw);
  align-items: center;
}
#footer .media ul img {
  width: calc((64 / var(--base-width)) * 100vw);
}
/*links*/
#footer .links {
  background-color: var(--col_main2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 52px;
}
/*links title*/
#footer .links .title {
  margin-right: auto;
}
#footer .links .title h2 {
  color: var(--col_txt2);
  margin-bottom: 16px;
}
#footer .links .title p {
  color: var(--col_txt2);
  --fluid-text: 16;
  font-weight: var(--fw_medium);
  max-width: calc((254 / var(--base-width)) * 100vw);
}
/*links bars*/
#footer .links .link-bar {
  margin-right: calc((98 / var(--base-width)) * 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .links .link-bar h4 {
  color: var(--col_txt2);
  margin-bottom: 21px;
}
#footer .links .link-bar ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#footer .links .link-bar ul a {
  color: var(--col_txt2);
  --fluid-text: 9px;
  font-weight: var(fw_semi-bold);
}
/*copyright*/
#footer .cr {
  background-color: var(--col_main);
  padding-top: 24px;
  padding-bottom: 30px;
  display: flex;
}
#footer .cr .title {
  color: var(--col_txt2);
  margin-left: calc((107 / var(--base-width)) * 100vw);
  margin-right: auto;
  --fluid-text: 6;
  font-weight: var(--fw_bold);
}
#footer .cr a:nth-of-type(1) {
  color: var(--col_txt2);
  --fluid-text: 6;
  font-weight: var(--fw_bold);
  margin-right: calc((137 / var(--base-width)) * 100vw);
}
#footer .cr a:nth-of-type(2) {
  color: var(--col_txt2);
  --fluid-text: 6;
  font-weight: var(--fw_bold);
  margin-right: calc((148 / var(--base-width)) * 100vw);
}

/* MEDIA QUERY TABLET */
@media only screen and (max-width: 1280px) {
  /*media*/
  #footer .media {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 54px;
    padding-bottom: 60px;
    row-gap: 80px;
  }
  #footer .media ul {
    gap: calc((170 / var(--base-width)) * 100vw);
  }
  #footer .media ul img {
    width: calc((90 / var(--base-width)) * 100vw);
  }
  /*links*/
  #footer .links {
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 75px;
    column-gap: calc((110 / var(--base-width)) * 100vw);
  }
  /*links title*/
  #footer .links .title {
    margin-right: 0;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*links bars*/
  #footer .links .link-bar {
    margin-right: 0;
  }
  #footer .links .link-bar ul {
    gap: 24px;
  }
  #footer .links .link-bar ul a {
    --fluid-text: 18;
  }
  /*copyright*/
  #footer .cr {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  #footer .cr .title {
    color: var(--col_txt2);
    margin-left: calc((50 / var(--base-width)) * 100vw);
    margin-right: auto;
    --fluid-text: 18;
    font-weight: var(--fw_bold);
  }
  #footer .cr a:nth-of-type(1) {
    --fluid-text: 13;
    margin-right: calc((128 / var(--base-width)) * 100vw);
  }
  #footer .cr a:nth-of-type(2) {
    --fluid-text: 13;
    margin-right: calc((27 / var(--base-width)) * 100vw);
  }
}
