.page-nav {
  display: flex;
  flex-wrap: wrap;
}
.page-nav .title {
  margin-right: auto;
  --text-size: 17;
  font-family: var(--fw_bold);
}
.page-nav .list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}
.page-nav .list a {
  text-decoration: none;
  color: var(--col_txt_link);
  position: relative;
  transition: color 0.5s ease-in-out;
}
.page-nav .list a:hover {
  color: rgb(0, 0, 0);
}
.page-nav .list a::after {
  content: "";
  background-color: var(--col_action);
  height: 2px;
  border-radius: 100vw;
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.page-nav .list a:hover::after {
  opacity: 1;
}
